
body{
    background-color: rgb(52, 95, 95);
    color:white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    
    
}


#topnav {
    overflow: hidden;
    background-color: #333;
  }
  
#topnav a {
    float:left;
    color:rgb(245, 156, 208);
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 25px;
  }
  
#topnav a:hover {
    background-color:rgb(255, 255, 255);
    color: black;
  }
  
#topnav a.active {
    background-color: #ffffff;
    color: white;
  }
#title{
    text-align: center;
    padding:200px;
    text-decoration-style: double;
}
#layer2{
    
    background-image: url("https://i.imgur.com/8lYkaEt.jpg");
    font-size: 20px;
    padding: 200px;
    background-size:fixed;
    height: 700px;
    }
    #layer2 a { background-color:black;color:white;padding:20px
    }

#layer3{
    padding: 400px;
}
#image{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:75%;

}

#layer4{
    color:black;
    padding:200px;
    background-image: url("https://i.imgur.com/DEpTca1.jpeg");
    background-size:auto;
   

    
}
#layer5{
    padding: 100px;
}
#l5text{
  float: left;
  text-align:left;
  
}
#aboutmeimg{
  float:right;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 25%;

}
